*{
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
}

#topo{
    background-color: #000;
    border-radius: 20px;
    border: 1.5px ridge #5e5642;
    width: 670px;
    height: 390px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    opacity: 0.8;
}

.topo-left, .topo-right{
    float: left;
    border: 2px inset #fff;
    border-radius: 15px;
    width: 300px;
    padding-bottom: 5px;
    padding-right: 10px;
    background: #5e5642;
    color: #fff;
    margin: 10px;
    text-align: left;
}

.topo-right{
    color: #5e5642;
    background: #fff;
    border: 2px inset #5e5642 ;
}

.topo-left h3, .topo-right h3{
    text-align: center;
}


h1{
    margin-top: 5px;
    color: #fff;
}

h3{
    margin-top: 10px;
}

#topo ul li{
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
}

#opcoes{
    margin-top: 30px;
    text-align: center;
}

#opcoes select{
    padding: 15px;
    margin: 10px auto;
    font-size: 15px;
    text-align: center;
}

#opcoes select option{
    font-size: 15px;
    text-align: center;
}

#botao-jogar, #botao-atualiza{
    margin-left: 20px;
    margin-top: 8px;
}

#botao-atualiza{
    float: right;
    margin-right: 30px;
}


#botao-jogar button, #botao-atualiza button{
    padding: 15px 20px 30px;
    color: #fff;
    background-color: #63625f;
    width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#botao-atualiza button{
    width: 200px;
    text-align: center;
    padding: 5px 10px 40px ;
}

#botao-jogar button:hover, #botao-atualiza button:hover{
    color:#63625f;
    background: #fff;
}

 /**************    Container dos jogos *************/

#container{
    margin: 10px auto;
    width: 980px;
    height: 860px;
    background-color: #fff;
    border: 1px ridge #000;
    border-radius: 10px;
}

/* ****** Menu *******/

.menu{
    width: 210px;
    height: 540px;
    margin: 5px 10px;
    float: left;
    padding-right: 15px;
    text-align: center;
}


.bloco-jogo{
    border-top: 2px solid #38311b;
    height: 60px;
    width: 204px;
    margin:2px;
    margin-bottom: 25px;
    padding: 8px;
    text-align: center;
}

#clube0, #clube2, #clube4, #clube6, #clube8, #clube10, #clube12, #clube14,  .time1{
    height: 20px;
    width: 140px;
    float: left;
    margin-bottom: 7px;
}

#clube1, #clube3, #clube5, #clube7, #clube9, #clube11, #clube13, #clube15, .time2{
    height: 20px;
    width: 140px;
    margin-top: 5px;
    margin-bottom: 3px;
    float: left;
}

button{
    padding: 0 2px;
    color: #fff;
    background-color: rgb(101, 165, 101);
    text-decoration: none;
    text-align: center;
    height: 25px;
    width: 30px;
    font-size: 12px;
    cursor: pointer;
}

#oitavas0, #oitavas2, #oitavas4, #oitavas6, #oitavas8, #oitavas10, #oitavas12, #oitavas14, 
#quartas0, #quartas2, #quartas4, #quartas6,
#semi0, #semi2,
#final0,
#campeao{
    height: 20px;
    width: 100px;
    float: left;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
#oitavas1, #oitavas3, #oitavas5, #oitavas7, #oitavas9, #oitavas11, #oitavas13, #oitavas15, 
#quartas1, #quartas3, #quartas5, #quartas7,
#semi1, #semi3,
#final1{
    height: 20px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 3px;
    float: left;
    text-align: center;
}

#placar0, #placar2, #placar4, #placar6, #placar8, #placar10, #placar12, #placar14, 
#placar20, #placar22, #placar24, #placar26,
#placar30, #placar32,
#placar40{
    height: 15px;
    width: 30px;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 8px;
    text-align: center;
}
#placar1, #placar3, #placar5, #placar7, #placar9, #placar11, #placar13, #placar15, 
#placar21, #placar23, #placar25, #placar27,
#placar31, #placar33,
#placar41{
    height: 15px;
    width: 30px;
    float: left;
    margin-top: 8px;
    margin-left: 8px; 
    text-align: center;
 }
 

.limpar{
    clear: both;
    text-indent: -50px;
}

